* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    margin: 0;
}

body {
    min-height: 100vh;
    background-color: rgb(41, 39, 59) !important;
}

#welcome {
    color: rgb(114, 114, 114);
}

.navbar {
    background-color: rgb(57, 51, 87);
    border-bottom: solid 3.5px rgb(146, 0, 68);
    box-shadow: 0 -20px 60px rgb(216, 0, 101);
}

.navbar li a {
    color: rgb(158, 22, 85);
    font-weight: bold;
    text-shadow: 0 0 10px rgb(216, 0, 101);
    transition: all .3s ease;
}

.navbar li a:active {
    color: rgb(255, 215, 238);
}

.navbar li a:hover {
    text-decoration: solid 1px underline rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

main h1 {
    font-size: 60px;
}

#reminder {
    font-size: 18.5px;
    background-color: rgba(236, 74, 150, 0.555);
    border-left: solid 10px rgb(255, 0, 119);
    color: #d8d8d8
}

#logout-btn {
    background-color: rgb(97, 16, 43);
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0px 2px 6px -1px rgba(255, 63, 153, 0.13);
    border: none;
    transition: all .3s ease;
    outline: 0;
}

#logout-btn:hover {
    transform: translateY(-3px);
    background-color: rgb(146, 0, 68);
    box-shadow: 0 0 10px rgb(216, 0, 101);
}

#logout-btn:hover:active {
    transform: scale(.99);
}